@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');

body {
  background: #307D99 url('bg.gif');
  color: #dfdfdf;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.navbar {
  overflow: hidden;
  background-color: #101010;
  position: fixed; /* Set the navbar to fixed position */
  left: 0;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 50px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #dfdfdf;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 20%;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

.special a {
  background: rgb(156, 155, 155);
  color: rgb(32, 32, 32);
}


/*classes*/
.classes div{
  text-align: center;
  height:220px;
  text-decoration: none;
  margin-top: 55px;
  padding-bottom: 50px;
  padding-top: 20px;
}

.classes h1 {
  font-size: 3rem;
}
.classes h2 {
  font-size: 2.3rem;

}

.button {
  box-shadow: 0px 1px 0px 0px #009daf;
  background:#252525;
  background-color:#202020;
  border-radius:6px;
  border:1px solid #002f90;
  display:inline-block;
  cursor:pointer;
  color:#dfdfdf;
  font-size:22px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}

.bigButton {
  box-shadow: 0px 1px 0px 0px #009daf;
  background:#252525;
  background-color:#202020;
  border-radius:6px;
  border:1px solid #002f90;
  display:inline-block;
  cursor:pointer;
  color:#dfdfdf;
  font-size:28px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
.classes a:hover {

  background: rgba(0,0,0,0);
}

.individual a:hover {
  background: rgba(0,0,0,0);
}

.category {
  width: 10%;
  float: left;

  text-align:center;

}

.category h1 {
  font-size: 3rem;
}

.free {
  float: left;
  width: 22.5%;
}

.show {
  float: left;
  width: 22.5%;
  background: rgba(255,255,255,0.1);
}

/*individual*/
.individual div{
  float: left;
  height: 220px;
  text-decoration: none;
  margin-top: 20px; 
  padding-bottom: 50px;
}

.leftBracket {
  padding-top: 12px;
  width:25%;

}
.stuff {
  width: 22.5%;
  background: rgba(255,255,255,0.1);
}

.noStuff {
  width: 22.5%;
}

.buttonList{
  width: 75%;
  text-align:left;
}

/* checkBoxes */
input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #aaa;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}

input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: MediumSeaGreen;
  border-color: MediumSeaGreen;
  color: #fff;
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #aea;
  border-color: #aea;
}


.homework div{
  float: left;
  height: 220px;
  text-decoration: none;
  margin-top: 20px; 
  padding-bottom: 50px;
}
.checkboxes {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background: rgba(255,255,255,0.1);
}

#btn {
  background: #222;
  height: 20px;
  min-width: 100px;
  border: none;
  border-radius: 10px;
  color: #eee;
  font-size: 20px;
  position: relative;
  transition: 1s;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

#btn #circle {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow: hidden;
  transition: 500ms;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#btn:hover {
  background: transparent;
}

#btn:hover #circle {
  height: 0px;
  width: 100px;
  left: 0;
  border-radius: 0;
  border-bottom: 2px solid #eee;
}

